<!DOCTYPE html>
<html>
  <head>
    <% include src/module-ejs/head.ejs %>
    <title>{{ name }}</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <% include src/module-ejs/vue.ejs %>
  </body>
</html>
